.webyx-fe-review.webyx-fe-wrp {
  background-color: white;
  margin: 35px 20px 0 2px;
  padding: 10px;
  border-left: 4px solid #9933ccd3;
}
.webyx-fe-review.webyx-fe-wrp .webyx-fe-review-done {
  margin-left: 15px;
  margin-top: 5px;
  display: inline-block;
  color: #9933ccd3;
}
.webyx-fe-review.webyx-fe-wrp .webyx-fe-review-done:hover {
  color: #9933CC;
}
.webyx-fe-review.webyx-fe-wrp .webyx-fe-rate-now {
  background: #9933CC;
  border-color: #9933CC;
}
.webyx-fe-review.webyx-fe-wrp .webyx-fe-rate-now:hover {
  background: #852ab3;
  border-color: #852ab3;
}
