.elementor-top-section.webyx-section-on {
  min-height: 100vh;
}
.e-con.webyx-section-on {
  min-height: 100vh;
}
.webyx-section-hide-on {
  opacity: 0.6;
}
/* Nasconde il menu webyx se presente e se si non si sta usando un bakground o se se è attivo hide */
.webyx-nav-hide {
  display: none;
}
.elementor-inner-section .webyx-background-overlay {
  display: none;
}
.elementor-inner-section .webyx-header {
  display: none;
}
.elementor-inner-section .webyx-overlay-menu {
  display: none;
}
.webyx-header {
  position: absolute;
  left: 0px;
  top: 0px;
  color: white;
  padding: 0 5px;
  font-size: 16px;
}
.webyx-section-on.webyx-section-front .webyx-header {
  background-color: #660077;
}
.webyx-section-on.webyx-section-side .webyx-header {
  background-color: #AB56D5;
}
.webyx-background-overlay {
  min-height:100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.webyx-overlay-menu {
  position: absolute;
  right: 0;
  top: 0;
}
.webyx-overlay-menu-icon-front {
  background-color: #660077;
}
.webyx-overlay-menu-icon-side {
  background-color: #AB56D5;
}
.webyx-scrollable {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-scrollable.svg);
}
.webyx-continuous {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-continuous.svg);
}
.webyx-content-position-top {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-content-position-top.svg);
}
.webyx-content-position-middle {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-content-position-middle.svg);
}
.webyx-content-position-bottom {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-content-position-bottom.svg);
}
.webyx-content-wrapper {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-content-wrapper.svg);
}
.webyx-background-color {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-background-color.svg);
}
.webyx-background-image {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-background-image.svg);
}
.webyx-background-video {
  display: block;
  margin: auto;
  width: 28px;
  content: url(../icon/webyx-background-video.svg);
}
.webyx-section-on.webyx-section-front .webyx-background-overlay {
  border: 2px solid #660077;
}
.webyx-section-on.webyx-section-side .webyx-background-overlay {
  border: 2px solid #AB56D5;
}
 .elementor-section.webyx-section-on > .elementor-element-overlay:after {
  outline: unset;
}
/* .elementor-section.webyx-section-on.elementor-inner-section > .elementor-element-overlay:after {
  outline: 3px solid var(--outline-color);
} */
/*.elementor-top-section.webyx-section-on.webyx-section-front .elementor-element-overlay > .elementor-editor-section-settings {
  background-color: #660077;
}
.elementor-top-section.webyx-section-on.webyx-section-front .elementor-editor-section-settings .elementor-editor-element-setting:first-child:before {
  border-right-color: #660077;
}
.elementor-top-section.webyx-section-on.webyx-section-front .elementor-editor-section-settings .elementor-editor-element-setting:last-child:after {
  border-left-color: #660077;
} */
/* new part for color overlay inner section */
/* .elementor-top-section.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-element-overlay > .elementor-editor-section-settings {
  background-color: var(--outline-color);
}
.elementor-top-section.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-editor-section-settings .elementor-editor-element-setting:first-child:before {
  border-right-color: var(--outline-color);
}
.elementor-top-section.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-editor-section-settings .elementor-editor-element-setting:last-child:after {
  border-left-color: var(--outline-color);
}
.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-editor-section-settings .elementor-editor-element-setting:hover {
  background-color: var(--secondary-color);
}
.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-element-overlay > .elementor-editor-section-settings {
  background-color: var(--outline-color);
}
.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-editor-section-settings .elementor-editor-element-setting:first-child:hover:before {
  border-right-color: var(--secondary-color);
}
.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-editor-section-settings .elementor-editor-element-setting:last-child:hover:after {
  border-left-color: var(--secondary-color);
}
.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-editor-section-settings .elementor-editor-element-setting:first-child:before {
  border-right-color: var(--outline-color);
}
.webyx-section-on.webyx-section-front.elementor-inner-section .elementor-editor-section-settings .elementor-editor-element-setting:last-child:after {
  border-left-color: var(--outline-color);
} */
/*************************************/
/* .webyx-section-on.webyx-section-front .elementor-editor-section-settings .elementor-editor-element-setting:hover {
  background-color: #9600b1;
}
.webyx-section-on.webyx-section-front .elementor-editor-section-settings .elementor-editor-element-setting:first-child:hover:before {
  border-right-color: #9600b1;
}
.webyx-section-on.webyx-section-front .elementor-editor-section-settings .elementor-editor-element-setting:last-child:hover:after {
  border-left-color: #9600b1;
}
.webyx-section-on.webyx-section-side .elementor-element-overlay > .elementor-editor-section-settings {
  background-color: #AB56D5;
}
.webyx-section-on.webyx-section-side .elementor-editor-section-settings .elementor-editor-element-setting:first-child:before {
  border-right-color: #AB56D5;
}
.webyx-section-on.webyx-section-side .elementor-editor-section-settings .elementor-editor-element-setting:last-child:after {
  border-left-color: #AB56D5;
}
.webyx-section-on.webyx-section-side .elementor-editor-section-settings .elementor-editor-element-setting:hover {
  background-color: #c074e6;
}
.webyx-section-on.webyx-section-side .elementor-editor-section-settings .elementor-editor-element-setting:first-child:hover:before {
  border-right-color: #c074e6;
}
.webyx-section-on.webyx-section-side .elementor-editor-section-settings .elementor-editor-element-setting:last-child:hover:after {
  border-left-color: #c074e6;
} */
