body.webyx-body,
nav.webyx-main-menu-box,
img.webyx-main-menu-icon,
img.webyx-sub-menu-icon,
a.webyx-item-anchor,
.webyx-full-screen-button-part {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul.webyx-main-menu-item-wrapper,
ul.webyx-sub-menu-stripe-panel-collection,
ul.webyx-sub-menu-dots-container,
ul.webyx-sub-menu-dot-container,
li.webyx-webyx-main-menu-item,
li.webyx-sub-menu-stripe-panel-desktop,
li.webyx-sub-menu-stripe-panel-mobile {
  margin: 0;
  padding: 0;
  line-height: unset;
  list-style: none;
}
[class^="webyx"],
[class^="webyx"]::before,
[class^="webyx"]::after {
  box-sizing: content-box;
}
ul.webyx-main-page,
ul.webyx-side-page,
li.webyx-main-page,
li.webyx-side-page,
ol.webyx-main-page,
ol.webyx-side-page {
  margin: 0;
  padding: 0;
  line-height: unset;
  list-style: none;
}
/* Webyx CSS */
html.webyx-html {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  /* prevent overscroll bounce*/
}
body.webyx-body {
  height: 100vh;
  width: 100vw;
  /* iOS velocity scrolling */
  -webkit-overflow-scrolling: touch;
  /* Disabilita il Text Highlighting con il CSS */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* Webkit */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10  */
  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;
}
.webyx-webyx {
  height: 100%;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  opacity: 1;
  top: 0;
  left: 0;
}
.webyx-flex {
  display: flex;
}
.webyx-stripe {
  position: absolute;
  height: 100%;
}
.webyx-side-page {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: white;
}
.webyx-ovw-scroll {
  overflow-y: auto;
}
.webyx-ovw-hidden {
  overflow: hidden;
}
.webyx-slide-viewport-dsk {
  transition: left 1000ms cubic-bezier(0.65, 0, 0.35, 1), top 1000ms cubic-bezier(0.65, 0, 0.35, 1);
  -webkit-transition: left 1000ms cubic-bezier(0.65, 0, 0.35, 1), top 1000ms cubic-bezier(0.65, 0, 0.35, 1);
  -moz-transition: left 1000ms cubic-bezier(0.65, 0, 0.35, 1), top 1000ms cubic-bezier(0.65, 0, 0.35, 1);
  -o-transition: left 1000ms cubic-bezier(0.65, 0, 0.35, 1), top 1000ms cubic-bezier(0.65, 0, 0.35, 1);
}
.webyx-slide-viewport-mobile {
  transition: left 1000ms cubic-bezier(0.65, 0, 0.35, 1), top 1000ms cubic-bezier(0.65, 0, 0.35, 1);
  -webkit-transition: left 1000ms cubic-bezier(0.65, 0, 0.35, 1), top 1000ms cubic-bezier(0.65, 0, 0.35, 1);
  -moz-transition: left 1000ms cubic-bezier(0.65, 0, 0.35, 1), top 1000ms cubic-bezier(0.65, 0, 0.35, 1);
  -o-transition: left 1000ms cubic-bezier(0.65, 0, 0.35, 1), top 1000ms cubic-bezier(0.65, 0, 0.35, 1);
}
.webyx-tran-fake {
  transition: opacity 0.00001s;
  -webkit-transition: opacity 0.00001s;
  -moz-transition: opacity 0.00001s;
  -o-transition: opacity 0.00001s;
}
.webyx-ch-opacity {
  opacity: 0.999999;
}
.webyx-arrow-viewport {
  position: absolute;
  cursor: pointer;
  width: 300px;
  height: 85px;
  z-index: 9998;
}
.webyx-arrow-icon {
  position: absolute;
}
.webyx-arrow-viewport-icon {
  position: relative;
  left: 50%;
  margin-left: -12px;
  top: 20px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.webyx-arrow-viewport-top {
  top: 0px;
  left: 50%;
  margin-left: -150px;
}
.webyx-arrow-viewport-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 50%;
  right: -107.5px;
  margin-top: -42.5px;
  margin-right: 15px;
}
.webyx-arrow-viewport-bottom {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: 0px;
  left: 50%;
  margin-left: -150px;
}
.webyx-arrow-viewport-left {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  top: 50%;
  left: -107.5px;
  margin-top: -42.5px;
  margin-left: 15px;
}
.webyx-arrow-viewport-top-offset {
  margin-top: 50px;
}
.webyx-arrow-viewport-right-offset {
  margin-right: 50px;
}
.webyx-arrow-viewport-bottom-offset {
  margin-bottom: 50px;
}
.webyx-arrow-viewport-left-offset {
  margin-left: 50px;
}
.webyx-arrow-viewport-icon-borders {
  border-top: 4px #000000 solid;
  border-right: 4px #000000 solid;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.webyx-arrow-viewport-icon-borders-fixed {
  border-top-color: rgba(0, 0, 0, 0.185);
  border-right-color: rgba(0, 0, 0, 0.185);
}
.webyx-arrow-viewport-icon-borders-visible {
  border-top-color: #000000;
  border-right-color: #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.webyx-arrow-viewport-icon-borders-animation {
  opacity: 0;
  -webkit-animation: opacityOn 3s normal forwards step-end;
  animation: opacityOn 3s normal forwards step-end;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.webyx-arrow-viewport-icon-borders-animation-hover {
  opacity: 1;
  -webkit-animation: opacityOffHover 0.1s normal forwards step-end;
  animation: opacityOffHover 0.1s normal forwards step-end;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.webyx-arrow-viewport-wrapper-animation {
  opacity: 0;
  -webkit-animation: opacityOn 3s normal forwards step-end;
  animation: opacityOn 3s normal forwards step-end;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.webyx-arrow-viewport-wrapper-animation-hover {
  opacity: 1;
  -webkit-animation: opacityOffHover 0.1s normal forwards step-end;
  animation: opacityOffHover 0.1s normal forwards step-end;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@keyframes opacityOn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityOffHover {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/********************************************* VT dots **************************************************/
.webyx-nav-vt-dsk {
  line-height: 1;
  font-size: 1rem;
  width: 20px;
  position: absolute;
  z-index: 9997;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk {
  position: absolute;
  top: 50vh;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-tt-vt-dsk {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: bold;
  max-width: 220px;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  border-radius: 50px 50px 50px 50px;
  padding: 3px 10px 3px 10px;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-tt-vt-dsk-right {
  right: 24px;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-tt-vt-dsk-left {
  left: 24px;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-wrapper-vt-dsk {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-wrapper-vt-dsk:hover .webyx-dot-vt-dsk {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-wrapper-vt-dsk:hover .webyx-dot-tt-vt-dsk {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-wrapper-vt-dsk:hover .webyx-dot-current-vt-dsk + .webyx-dot-tt-vt-dsk {
  color: #000;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-wrapper-vt-dsk .webyx-dot-vt-dsk {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  outline: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  text-indent: -999em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition: transform 0.3s ease, background-color 0.3s ease;
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-wrapper-vt-dsk .webyx-dot-current-vt-dsk {
  background-color: #000;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
.webyx-nav-vt-dsk .webyx-dots-wrapper-vt-dsk .webyx-dot-current-vt-persistent-dsk {
  opacity: 1;
  color: #000;
}
.webyx-nav-vt-dsk-left {
  left: 10px;
}
.webyx-nav-vt-dsk-right {
  right: 10px;
}
.webyx-nav-vt-mob {
  line-height: 1;
  font-size: 1rem;
  width: 20px;
  position: absolute;
  top: 50%;
  z-index: 9997;
}
.webyx-nav-vt-mob .webyx-dots-wrapper-vt-mob {
  position: absolute;
  top: 50%;
}
.webyx-nav-vt-mob .webyx-dots-wrapper-vt-mob .webyx-dot-tt-vt-mob {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: bold;
  right: 20px;
  top: 2px;
  max-width: 220px;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
}
.webyx-nav-vt-mob .webyx-dots-wrapper-vt-mob .webyx-dot-wrapper-vt-mob {
  width: 20px;
  height: 20px;
  position: relative;
}
.webyx-nav-vt-mob .webyx-dots-wrapper-vt-mob .webyx-dot-wrapper-vt-mob .webyx-dot-vt-mob {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 4px;
  height: 4px;
  outline: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  text-indent: -999em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition: webkit-transform 0.3s ease, background-color 0.3s ease;
}
.webyx-nav-vt-mob .webyx-dots-wrapper-vt-mob .webyx-dot-wrapper-vt-mob .webyx-dot-current-vt-mob {
  background-color: #000;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
.webyx-nav-vt-mob-left {
  left: 0;
}
.webyx-nav-vt-mob-right {
  right: 0;
}
/********************************************* HZ dots **************************************************/
.webyx-nav-hz-dsk {
  line-height: 1;
  font-size: 1rem;
  height: 20px;
  left: 50%;
  position: absolute;
  text-align: center;
  z-index: 9998;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk {
  height: 20px;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-tt-hz-dsk {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: bold;
  max-width: 220px;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  border-radius: 50px 50px 50px 50px;
  padding: 3px 10px 3px 10px;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-tt-hz-dsk-top {
  top: 20px;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-tt-hz-dsk-bottom {
  bottom: 20px;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-wrapper-hz-dsk {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-wrapper-hz-dsk:hover .webyx-dot-hz-dsk {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-wrapper-hz-dsk:hover .webyx-dot-tt-hz-dsk {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-wrapper-hz-dsk:hover .webyx-dot-current-hz-dsk + .webyx-dot-tt-hz-dsk {
  color: #000;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-wrapper-hz-dsk .webyx-dot-hz-dsk {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  outline: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  text-indent: -999em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition: transform 0.3s ease, background-color 0.3s ease;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-wrapper-hz-dsk .webyx-dot-current-hz-dsk {
  background-color: #000;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-dsk .webyx-dot-current-hz-persistent-dsk {
  opacity: 1;
  color: #000;
}
.webyx-nav-hz-dsk .webyx-dots-wrapper-hz-hidden {
  display: none;
}
.webyx-nav-hz-dsk-top {
  top: 10px;
}
.webyx-nav-hz-dsk-bottom {
  bottom: 10px;
}
.webyx-nav-hz-mob {
  line-height: 1;
  font-size: 1rem;
  height: 20px;
  left: 50%;
  position: absolute;
  text-align: center;
  z-index: 9998;
}
.webyx-nav-hz-mob .webyx-dots-wrapper-hz-mob {
  height: 20px;
}
.webyx-nav-hz-mob .webyx-dots-wrapper-hz-mob .webyx-dot-tt-hz-mob {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: bold;
  bottom: 20px;
  left: 4px;
  max-width: 220px;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
}
.webyx-nav-hz-mob .webyx-dots-wrapper-hz-mob .webyx-dot-wrapper-hz-mob {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
.webyx-nav-hz-mob .webyx-dots-wrapper-hz-mob .webyx-dot-wrapper-hz-mob .webyx-dot-hz-mob {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 4px;
  height: 4px;
  outline: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  text-indent: -999em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition: transform 0.3s ease, background-color 0.3s ease;
}
.webyx-nav-hz-mob .webyx-dots-wrapper-hz-mob .webyx-dot-wrapper-hz-mob .webyx-dot-current-hz-mob {
  background-color: #000;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
.webyx-nav-hz-mob .webyx-dots-wrapper-hz-hidden {
  display: none;
}
.webyx-nav-hz-mob-top {
  top: 0;
}
.webyx-nav-hz-mob-bottom {
  bottom: 0;
}
.webyx-dot-wrapper-vt-hidden {
  display: none;
}
.webyx-dot-hidden {
  display: none;
}
.webyx-icon-scroll-wrapper {
  font-size: 1rem;
  position: absolute;
  bottom: 60px;
  left: 50%;
  height: 2.5rem;
  -webkit-transform: translateX(-50%) scale(2);
  -ms-transform: translateX(-50%) scale(2);
  transform: translateX(-50%) scale(2);
  z-index: 9997;
}
.webyx-icon-scroll-wrapper .webyx-icon-scroll-mouse {
  height: 1.1rem;
  width: 0.65rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2em;
}
.webyx-icon-scroll-wrapper .webyx-icon-scroll-wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(0.375em);
    transform: translateY(0.375em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(0.375em);
    transform: translateY(0.375em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.webyx-full-screen-button-wrapper {
  position: absolute;
  top: 10px;
  box-sizing: unset;
  margin-top: 0px;
  margin-right: 0px;
  cursor: pointer;
  z-index: 9999;
}
.webyx-full-screen-button-wrapper.webyx-full-screen-button-wrapper-right {
  right: 10px;
}
.webyx-full-screen-button-wrapper.webyx-full-screen-button-wrapper-left {
  left: 10px;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part {
  border-color: black;
  border-style: solid;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part-top-left-outer {
  border-top-width: 4px;
  border-left-width: 4px;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part-top-right-outer {
  border-top-width: 4px;
  border-right-width: 4px;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part-bottom-right-outer {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part-bottom-left-outer {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part-top-left-inner {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part-top-right-inner {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part-bottom-right-inner {
  border-top-width: 4px;
  border-left-width: 4px;
}
.webyx-full-screen-button-wrapper .webyx-full-screen-button-part-bottom-left-inner {
  border-top-width: 4px;
  border-right-width: 4px;
}
.webyx-splash {
  position: absolute;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.webyx-spinner {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -20px;
  margin-left: -20px;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
.webyx-custom-splash-bkg-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.webyx-custom-splash-txt {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -1rem;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
.webyx-animate-flicker {
  animation: fadeIn 0.8s infinite alternate;
}
@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.webyx-icon-plus {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-position: center;
  background-size: 50% 3px,3px 50%;
  background-repeat: no-repeat;
}
.webyx-body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: white;
}
.webyx-box {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.webyx-box .webyx-box-message {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
  background: #f5f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f6f6), color-stop(64%, #dbdce2), color-stop(64%, #dbdce2), color-stop(100%, #b8bac6), color-stop(100%, #dddfe3), color-stop(100%, #f5f6f6), to(#b8bac6));
  background: -o-linear-gradient(top, #f5f6f6 0%, #dbdce2 64%, #dbdce2 64%, #b8bac6 100%, #dddfe3 100%, #f5f6f6 100%, #b8bac6 100%);
  background: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 64%, #dbdce2 64%, #b8bac6 100%, #dddfe3 100%, #f5f6f6 100%, #b8bac6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6f6', endColorstr='#b8bac6', GradientType=0);
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.75);
}
.webyx-box .webyx-box-message .webyx-box-message-alert-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #8600c9;
  margin: auto;
  margin-top: 25px;
}
.webyx-box .webyx-box-message .webyx-box-message-alert-icon .webyx-alert-symbol {
  font-size: 90px;
  color: #ffffff;
  line-height: 100%;
}
.webyx-box .webyx-box-message .webyx-box-message-text {
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.webyx-box .webyx-box-message .webyx-box-message-link {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}
.webyx-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.webyx-table-cell-top {
  display: table-cell;
  vertical-align: top;
}
.webyx-table-cell-middle {
  display: table-cell;
  vertical-align: middle;
}
.webyx-table-cell-bottom {
  display: table-cell;
  vertical-align: bottom;
}
/*************************** MENU *******************************/
.webyx-nav-hide {
  display: none;
}
#webyx-nav {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
#webyx-nav ul,
#webyx-nav ul li,
#webyx-nav ul ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#webyx-nav ul li {
  outline: 1px solid rgba(128, 128, 128, 0.1);
  background-color: rgba(107, 107, 107, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0);
  transition: border-left 0.15s ease-out;
}
#webyx-nav ul li:hover {
  background-color: rgba(107, 107, 107, 0.2);
  transition: border-left 0.15s ease-out;
  border-left: 2px solid rgba(68, 68, 68, 0.7);
}
#webyx-nav .webyx-logo-wrapper {
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 99999999;
  background-color: #e0e0e0;
  top: 0px;
  left: 50px;
}
#webyx-nav .webyx-logo-wrapper a.webyx-logo-img {
  display: block;
  margin: 10%;
  width: 80%;
  height: 80%;
}
#webyx-nav #webyx-nav-container a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: rgba(47, 47, 47, 0.8);
  outline: 0;
  text-align: left;
  height: 50px;
  line-height: 50px;
  padding-right: 50px;
  padding-left: 10px;
  overflow: hidden;
}
#webyx-nav #webyx-nav-container a:hover,
#webyx-nav #webyx-nav-container a:visited,
#webyx-nav #webyx-nav-container a:focus,
#webyx-nav #webyx-nav-container a:active {
  text-decoration: none;
  color: #000000;
  outline: 0;
}
.webyx-menu-arrow {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  display: none;
  color: #2f2f2f;
}
.webyx-menu-arrow::after {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  content: "\276F";
  transform: rotate(90deg);
  transition: transform 0.1s linear;
}
.webyx-menu-arrow:hover {
  color: #000000;
  background-color: rgba(100, 100, 100, 0.1);
  cursor: pointer;
}
.menu-item-has-children > .webyx-menu-arrow {
  font-size: 16px;
  display: block;
}
.menu-item-has-children .sub-menu .webyx-menu-arrow {
  font-size: 13px;
}
.webyx-menu-arrow-rotated::after {
  transform: rotate(-90deg);
  transition: transform 0.1s linear;
}
.webyx-sub-menu-collapse {
  max-height: 0px;
  transition: max-height 0.25s cubic-bezier(0, 1, 0, 1) -0.1s;
  overflow: hidden;
}
.webyx-sub-menu-expand {
  max-height: 9999px;
  transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
  transition-delay: 0s;
  overflow: hidden;
}
.webyx-header .webyx-nav #webyx-toggle-btn + div {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 99998;
  left: 0;
  top: 0;
  padding-top: 50px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-300px);
  width: 300px;
  background-color: #e0e0e0;
  overflow-y: auto;
}
.webyx-header .webyx-nav #webyx-toggle-btn + div ul#webyx-nav-container.webyx-nav-container {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.webyx-header .webyx-nav #webyx-toggle-btn + div ul#webyx-nav-container.webyx-nav-container::-webkit-scrollbar {
  display: none;
}
.webyx-toggle-btn {
  display: block;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  cursor: pointer;
  padding: 8px 10px;
  background-color: #e0e0e0;
}
.webyx-toggle-btn .webyx-bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
#webyx-toggle-btn.webyx-menu-active ~ .webyx-nav {
  opacity: 1;
  visibility: visible;
  z-index: 99999;
}
.webyx-header .webyx-nav #webyx-toggle-btn.webyx-menu-active + div {
  left: 0px;
  transform: translateX(0);
}
#webyx-toggle-btn .webyx-bar {
  background-color: #000000;
}
#webyx-toggle-btn.webyx-menu-active .webyx-bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
#webyx-toggle-btn.webyx-menu-active .webyx-bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}
#webyx-toggle-btn.webyx-menu-active .webyx-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .webyx-header .webyx-nav #webyx-toggle-btn + div {
    transform: translateX(-100%);
    width: 100%;
  }
}
/**************** Audio *****************/
